{% extends "notes/base.html" %}
{% load static from staticfiles %}

{% block meta_title %}- List{% endblock meta_title %}

{% block title %}notes' list:{% endblock title %}
{% block btn %}
<div>
    <a href="{% url 'notes_add' %}" class="btn btn-default">Add Note</a>
    <a href="{% url 'notes_add_upper' %}" class="btn btn-default">Add Note Upper</a>
</div>
{% endblock btn %}
{% block content %}

    <ul>
    {% for note in notes %}
        <li>{{ note.text }}</li>
    {% endfor %}
    </ul>
{% endblock content %}