{% extends "notes/base.html" %}
{% load static from staticfiles %}

{% block meta_title %}- Create{% endblock meta_title %}

{% block title %}note create:{% endblock title %}

{% block content %}
<form action="{% url 'notes_add' %}" method="post" enctype="multipart/form-data" name="note_create">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}

    </table>
    <input type="button" value="Create" name="add_button" class="btn btn-primary" />
    <input type="button" value="Cancel" name="cancel_button" class="btn btn-link" />
</form>
{% endblock content %}